@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap'); /* Importing a coding font */

:root {
    --neutral-foreground-rest: wheat; /* Set the default value for the custom property */
}

.fancy-text {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #00ffcc;
    text-shadow: 0 0 5px #00ffcc;
}

.attachment-btn {
    position: relative;
    display: inline-block;
    z-index: 5;
}

/* Change the color of the button when a file is selected */
.attachment-btn-selected{
    color: green !important; /* This will make the button green once a file is selected */
}

.fluent-inputfile-container .inputfile-progress {
    display: none !important;
}

.containerbox {
    display: flex;
    height: 90vh;
    flex-direction: column;
}

@media (min-width: 768px) {
    .containerbox {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .input-container {
        flex-direction: row;
    }
}

@media (max-width: 767px) {
    .input-container {
        height: 20vh;
        padding: 10px;
    }
    .inp {
        height: 5vh;
    }
    .containerbox {
        margin: 0 auto;
    }
}

.sidebar {
    width: 40%;
    background-color: transparent;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-height: fit-content !important;
}

.chat-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.inp {
    background: #340813 !important;
    color: aliceblue;
    border-radius: 10px;
    border-color: #1c1f23;
    padding: 10px;
    margin-right: 10px;
    flex-grow: 1;
}


@media (max-width: 768px) {
    .messages-container {
        height: 40vh;
    }
}

.messages-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    max-height: 90vh;
    display: flex;
    border-color: #4f5050;
    border-radius: 15px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.5);
    flex-direction: column;
    background-color: #222;
}

.input-container {
    height: 3rem;
    display: flex;
    padding: 5px;
    position: relative;
}

.message-card {
    margin-bottom: 15px;
    width: 80%;
    height: fit-content;
    padding: 10px;
    color: #fff;
}

.message-card-img {
    margin-bottom: 15px;
    width: 80%;
    height: fit-content;
    padding: 1px !important;
    color: #fff;
}

.message-card p {
    margin: 0;
}

 h1 {
     color: green;
 }

/* To hide the checkbox */
#checkboxInput {
    display: none;
}

.containerToggle {
    display: flex;
    align-items: center;
    padding: 10px;
}

.text {
    color: white; /* Make the text white */
    margin-right: 10px; /* Space between text and label */
}

.label {
    color: white !important;
}

.toggleSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 30px;
    background-color: rgb(82, 82, 82);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: .2s;
}

.toggleSwitch::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    left: 5px;
    background-color: transparent;
    border-radius: 50%;
    transition-duration: .2s;
    box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
    border: 5px solid white;
}

#checkboxInput:checked+.toggleSwitch::after {
    transform: translateX(200%);
    transition-duration: .2s;
    background-color: white;
}
/* Switch background change */
#checkboxInput:checked+.toggleSwitch {
    background-color: rgb(148, 118, 255);
    transition-duration: .2s;
}

#checkboxInputx:checked+.toggleSwitch::after {
    transform: translateX(200%);
    transition-duration: .2s;
    background-color: white;
}
/* Switch background change */
#checkboxInputx:checked+.toggleSwitch {
    background-color: rgb(148, 118, 255);
    transition-duration: .2s;
}

.user-message {
    align-self: flex-end;
    background-color: #0d1820;
}



.bot-message {
    align-self: flex-start;
    background-color: #0c0c0c;
}

.chat-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.selected-chat-card {
    color: #ffffff;
    cursor: pointer;
    padding: 5px !important;
    background-color: rgba(110,110,110,0.8);
    max-height: 30px;
    margin-bottom: 5px;
    width: 100%;
    font-size: small;
    align-self: flex-start;
    border-color: transparent;
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}

.chat-card {
    color: #ffffff;
    cursor: pointer;
    padding: 5px !important;
    background-color: rgba(97,78,78,0.5);
    max-height: 30px;
    margin-bottom: 5px;
    width: 100%;
    align-self: flex-start;
    font-size: small;
    border-color: transparent;
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}

.delete-button {
    align-self: flex-end;
    margin-bottom: 5px;
}

.model-label {
    color: white;
}

.select-element {
    padding: 10px;
    align-self: flex-end;
    width: 100%;
}

.message-role-bot {
    color: white;
    align-self: flex-start;
}

.message-role-user {
    color: white;
    align-self: flex-end;
}