@inject HttpClient Http

@page "/"
<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<PageTitle>Home</PageTitle>
<div class="container">
    <div class="description">
        <div>
            <div class="robot">
                <img src="images/robot.png" alt="Robot" id="robot"/>
            </div>
            <h1 style="display: inline">Welcome to <span class="fancy-text">M.A.I.N</span></h1>
        </div>
        <p style="padding: 30px">
            M.A.I.N (Modular Artificial Intelligence Network) is an advanced AI platform designed as a technological demo and playground for exploring modular AI capabilities. Initially offering chat-based solutions powered by open-source large language models (LLMs), M.A.I.N highlights the seamless integration of different AI functions. The core of the project is the evolving MaIN NuGet package, which will provide developers with a flexible toolkit to build and customize intelligent systems. The platform's ultimate goal is to create an AI that is aware of changes within the system and can dynamically respond, embodying the true interconnectedness of a "Network."        </p>
    </div>
    <div class="social-media-buttons">
        <a href="#" class="button "><i class="fab fa-github"></i></a>
        <a href="#" class="button "><i class="fa-brands fa-square-x-twitter"></i></a>
        <a href="#" class="button "><i class="fab fa-linkedin-in"></i></a>
        <a href="#" class="button "><i class="fa-solid fa-envelope"></i></a>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function() {
            document.getElementById('robot').classList.add('visible');
        }, 200); // Delay to ensure the page is fully loaded before animation
    });
</script>


@code
{
    protected override void OnInitialized()
    {
        Http.Timeout = TimeSpan.FromMinutes(10);
        Task.Run(async () => await Http.PostAsync($"{ExtensionMethods.GetApiUrl()}/api/agents/init", new StringContent(string.Empty), new CancellationToken()));
    }

}
