@page "/"
<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<PageTitle>Home</PageTitle>
<div class="container">
    <div class="description">
        <div>
            <div class="robot">
                <img src="images/robot.png" alt="Robot" id="robot"/>
            </div>
            <h1 style="display: inline">Welcome to <span class="fancy-text">M.A.I.N</span></h1>
        </div>
        <p style="padding: 30px">
            M.A.I.N (Modular Artificial Intelligence Network) is an advanced, modular AI platform designed to integrate various AI capabilities seamlessly. Initially featuring chat-based solutions powered by open-source large language models (LLMs), M.A.I.N is set to evolve with additional functionalities, providing a comprehensive AI toolkit for diverse applications. The ultimate goal is to build an AI that is aware of what is happening within the system and can react to those changes. This interconnectedness and contextual awareness is what makes it a "Network."
        </p>
    </div>
    <div class="social-media-buttons">
        <a href="#" class="button "><i class="fab fa-github"></i></a>
        <a href="#" class="button "><i class="fa-brands fa-square-x-twitter"></i></a>
        <a href="#" class="button "><i class="fab fa-linkedin-in"></i></a>
        <a href="#" class="button "><i class="fa-solid fa-envelope"></i></a>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function() {
            document.getElementById('robot').classList.add('visible');
        }, 200); // Delay to ensure the page is fully loaded before animation
    });
</script>
