@using Microsoft.FluentUI.AspNetCore.Components
<style>
    .gradient {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
        background-color: #1e1e1e !important;
    }
</style>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 gradient">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><span class="fancy-text">M.A.I.N</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-md-0 w-100 justify-content-between">
                <li class="nav-item">
                    <NavLink class="nav-link" href="chat">
                        <span class="oi oi-plus" aria-hidden="true"></span> 💬 Chat
                    </NavLink>
                </li>
                <li class="nav-item ms-auto">
                    <NavLink class="nav-link" href="rag">
                        <span class="oi oi-plus" aria-hidden="true"></span> ✨ Demo
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

}